:root {
  --font-gilroy: var(--font-gilroy);
  --font-gilroy-boold: var(--font-gilroy-bold);
}

body {
  font-family: var(--font-gilroy), sans-serif;
  font-weight: 300;
  color: #14141F;
}

::placeholder{
  color: #14141F;
}